@import url('https://fonts.googleapis.com/css?family=Poppins:400');

:root{
--b1: #292929; 
--b2: #333333; 
--b3: #424242 ; 
--accent: #00f; 
--font-color:#fff;
}
body{
    background: none;
    background-color: var(--b1) !important;
    font-family: "Poppins" !important;
}
.container-fluid,
.navbar, 
.clearfix, 
.slidershadow,
.text-center,
.content,
#block-login{
    background-color:var(--b2) !important;
}
input, .navbar .brand {
    background-color:var(--accent) !important;
}

#wrapper {
    border-top: 4px solid var(--accent) !important;
    background-color:var(--bg2);
}
.block {
    border: 0px;
    border-top: 4px solid var(--accent) !important;
    background-color:var(--b3) !important;
    color: var(--font-color) !important;
}
.block .header .title h2, 
.block ul.block_tree, 
.breadcrumb a, 
.block ul.block_tree a{
    color: var(--font-color) !important;
    text-shadow : none !important;
}
#loggedin-user {
    background-color:var(--b3) !important;
    border: 0px;
    box-shadow: 0px 0px 2px 2px #2d2d2d
}
#loggedin-user .usertext {
    color: var(--accent) !important;
    text-shadow : none !important;
    font-weight:300;
}
.header{
    padding: 10px;
    text-align: center;
}
.block .header .title {
    padding:0px;
    background: none;
}
.row.text-center, 
.header.text-center, 
.block .header .title,
.pagination,
#block-login label{
    background-color:var(--b3) !important;
}
.btn-group>.btn{
    background-color:var(--accent) !important;
}
.tab-content,#block-login{
    border:none;
}
.block_myoverview .well{
    background-color:var(--b1) !important;
    border:none;
}
.block_myoverview h4{
    text-align: center;
}
.progress-chart-container .progress-doughnut .progress-indicator svg .circle {
    stroke: var(--accent);
}
.progress-chart-container .progress-doughnut .progress-text.has-percent {
    color:#fff;
}
.nav-tabs {
    background: none repeat scroll 0 0 var(--b3);
    border: none;
    text-align:center;
    visibility: hidden;
    display: none;
}
.media-heading > a{
    color:#ddd !important;
}
.media-heading{
    margin-top: 2.5vh !important;
}
.text-muted{
    visibility: hidden;
    display:none;
}
.pull-left{
    height: 70px;
}
.media{
    padding: 10px;   
}
.block .header .title h2:before {
    background-color: var(--accent);
}
.message > a>{
    color:#fff;
}
.message > a > .icon{
    display: none;
}
.user > a{
    color:#fff;
    text-transform:uppercase;
}
.unread_notification {
    background:none;
    border: none;
    border-radius: 200px;
    color: var(--accent);
    float: left;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 45px;
    padding: 10px;
    position: absolute;
}
.unreadnumber{
    color:var(--accent)!important;
}
.dockeditem > div{
    border:none!important;
}
.dockeditem > div > div{
    background-color:var(--b2) !important;
}
.dockeditem > div > div > h2, .loginbox h2{
    color:#fff;
    text-shadow: none!important;
}
#page{
    height: 3000px!important;
}
#page-footer {
    background: var(--bg1)!important;
    margin-top: 10px;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 0;
    color: #bdc3c7;
    border:none;
    text-align: left;
}
.footerlinks {
    line-height: 15px;
    background: var(--bg1);
    border-top: 1px solid #444;
    padding: 10px 0;
}
.back-to-top{
    color:var(--accent);
}
.social_contact > a {
    color:var(--accent);
}
.sectionname{
    background-color:var(--b3) !important;
    border:none!important;
    border-radius: 2px;
    text-align: center;
}
.course-content ul li.section.main {
    background: none!important;
}
.instancename,
.no-overflow{
    color:#fff;
}
.btn.btn-link{
    background-color: var(--b2);
    box-shadow:none;
}
.section .activity .actions {
     background-color: var(--b2);
}
.breadcrumb>li, 
.completionprogress{
    color: #fff !important;
    text-shadow: none !important;
}
.content h3.sectionname {
     color: #afafaf !important;
}
img[src="http://lms.bennett.edu.in/theme/image.php/lambda/core/1545649038/f/pdf-24"] {
  content:url("https://raw.githubusercontent.com/anuditnagar/darklms/master/icons/pdf.png");
}
img[src="http://lms.bennett.edu.in/theme/image.php/lambda/core/1545649038/f/spreadsheet-24"] {
  content:url("https://raw.githubusercontent.com/anuditnagar/darklms/master/icons/xls.png");
}
img[src="http://lms.bennett.edu.in/theme/image.php/lambda/core/1545649038/f/document-24"] {
  content:url("https://raw.githubusercontent.com/anuditnagar/darklms/master/icons/doc.png");
}
img[src="http://lms.bennett.edu.in/theme/image.php/lambda/core/1545649038/f/powerpoint-24"] {
    content:url("https://raw.githubusercontent.com/anuditnagar/darklms/master/icons/ppt.png");
}
img[src="http://lms.bennett.edu.in/theme/image.php/lambda/core/1545649038/f/text-24"] {
    content:url("https://raw.githubusercontent.com/anuditnagar/darklms/master/icons/txt.png");
}
img[src="http://lms.bennett.edu.in/theme/image.php/lambda/url/1545649038/icon"] {
    content:url("https://raw.githubusercontent.com/anuditnagar/darklms/master/icons/link.png");
}

.loginpanel{
    background: var(--b3)!important;
    color: #fff!important;
}
#inputName, #inputPassword, #username,#password{
    background-color: var(--b1) !important;
    border: none;
}